@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background: #f6f6fe;
  font-size: 1.5rem;
  font-family: "Montserrat", Arial, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", Arial, serif;
  background: none;
  border: none;
}

.pricing-card {
  background: white;
  padding: 2rem;
  color: #494c5f;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-card.-gradientBG {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #f6f6fe;
}

@media only screen and (min-width: 900px) {
  .pricing-card.-big {
    padding: 4rem 2rem;
  }
}

.pricing-card > .pricePlan {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.pricing-card > .price {
  font-size: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2rem;
}

.pricing-card > .price > .dollarSign {
  font-size: 2.8rem;
}

.pricing-card > .planInfo--wrap {
  width: 100%;
  text-align: center;
}

.pricing-card > .planInfo--wrap .info {
  padding: 1em;
  border-bottom: solid #b3b5c6 1px;
  border-top: solid #b3b5c6 1px;
}

.pricing-card > .planInfo--wrap .info + .info {
  border-top: none;
}

.pricing-card > .learnMore {
  width: 100%;
  padding: 0.75em;
  margin-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  border-radius: 0.75rem;
  color: #f6f6fe;
  font-size: 1.4rem;
}

.pricing-card > .learnMore.-gradientBg {
  background: white;
  color: #6d708d;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pricing-cards--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.pricing-cards--container .pricing-card {
  width: 100%;
}

.pricing-cards--container .pricing-card + .pricing-card {
  margin-top: 1em;
}

@media only screen and (min-width: 900px) {
  .pricing-cards--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 85rem;
  }
  .pricing-cards--container .pricing-card + .pricing-card {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */