@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@-webkit-keyframes shrink {
  from {
    text-shadow: 0 15px 15px rgba(0, 0, 0, 0.205);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes shrink {
  from {
    text-shadow: 0 15px 15px rgba(0, 0, 0, 0.205);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (min-width: 900px) {
  html {
    min-height: unset;
    height: 100%;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background: url("../images/bg-top.svg") no-repeat, url("../images/bg-bottom.svg") no-repeat, #f6f6fe;
  background-position: top -50px right -175px, bottom left;
  font-size: 1.5rem;
  font-family: "Montserrat", Arial, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 900px) {
  body {
    background-position: top right, bottom left;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", Arial, serif;
  background: none;
  border: none;
}

label {
  cursor: pointer;
}

.pricing-card {
  background: white;
  padding: 2.5rem;
  color: #494c5f;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.116);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.116);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-card.-gradientBG {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #f6f6fe;
}

.pricing-card > .pricePlan {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.pricing-card > .price--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pricing-card > .price--wrap .price {
  font-size: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pricing-card > .price--wrap .dollarSign {
  font-size: 3rem;
  margin-right: 0.5rem;
}

.pricing-card > .planInfo--wrap {
  width: 100%;
  text-align: center;
}

.pricing-card > .planInfo--wrap .info {
  padding: 1em;
  border-bottom: solid #b3b5c6 1px;
  border-top: solid #b3b5c6 1px;
}

.pricing-card > .planInfo--wrap .info + .info {
  border-top: none;
}

.pricing-card > .learnMore {
  text-align: center;
  width: 100%;
  padding: 0.75em;
  margin-top: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  border: solid 1px #f6f6fe;
  border-radius: 0.75rem;
  color: #f6f6fe;
  font-size: 1.4rem;
  cursor: pointer;
}

.pricing-card > .learnMore:hover {
  border: solid 1px #6d708d;
  background: white;
  color: #6d708d;
}

.pricing-card > .learnMore.-white {
  background: white;
  border: solid 1px #696fdd;
  color: #6d708d;
}

.pricing-card > .learnMore.-white:hover {
  background: none;
  color: white;
  border: solid white 1px;
}

.price-toggle--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.price-toggle--wrap #price-toggle {
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  min-height: 2rem;
  min-width: 4.25rem;
  padding: 0.35rem;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.price-toggle--wrap #price-toggle:hover {
  opacity: 0.5;
}

.price-toggle--wrap #price-toggle .circle {
  height: 1.75rem;
  width: 1.75rem;
  background: white;
  border-radius: 999px;
}

.price-toggle--wrap .annualLabel,
.price-toggle--wrap .monthlyLabel {
  color: #b3b5c6;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pricing-header {
  padding: 3em;
}

@media only screen and (min-width: 900px) {
  .pricing-header {
    padding: 0 3em 3em 3em;
  }
}

.pricing-header .pricing-h1 {
  color: #6d708d;
  text-align: center;
  margin-bottom: 3rem;
}

.pricing-header #price-toggle {
  margin: 0 1rem;
}

.pricing-cards--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem;
}

@media only screen and (min-width: 900px) {
  .pricing-cards--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 95rem;
  }
}

.pricing-cards--container .pricing-card + .pricing-card {
  margin-top: 1em;
}

@media only screen and (min-width: 900px) {
  .pricing-cards--container .pricing-card + .pricing-card {
    margin-top: 0;
  }
}

.pricing-cards--container > .pricing-card {
  width: 100%;
}

.pricing-cards--container > .pricing-card .price--wrap {
  -webkit-animation: none;
          animation: none;
}

.pricing-cards--container > .pricing-card .price--wrap.active {
  -webkit-animation: shrink 0.5s ease-in;
          animation: shrink 0.5s ease-in;
}

@media only screen and (min-width: 900px) {
  .pricing-cards--container > .pricing-card.-big {
    padding: 4.5rem 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */