.pricing-cards--container {
    @include flexCenter(column);
    width: 100%;
    padding: 2rem;

    @include desktopSize {
        flex-direction: row;
        max-width: 95rem;
    }

    .pricing-card + .pricing-card {
        margin-top: 1em;

        @include desktopSize {
            margin-top: 0;
        }
    }

    // card component styles specific to this container
    > .pricing-card {
        width: 100%;

        .price--wrap {
            animation: none;

            &.active {
                animation: shrink 0.5s ease-in;
            }
        }

        &.-big {
            @include desktopSize {
                padding: 4.5rem 2.5rem;
            }
        }
    }
}
