.pricing-cards--container {
    @include flexCenter(column);
    width: 100%;
    padding: 2rem;

    .pricing-card {
        width: 100%;

        & + .pricing-card {
            margin-top: 1em;
        }
    }

    @include desktopSize {
        flex-direction: row;
        max-width: 85rem;

        .pricing-card + .pricing-card {
            margin-top: 0;
        }
    }
}
