.pricing-cards--container {
    @include flexCenter(column);
    width: 100%;
    padding: 2rem;

    @include desktopSize {
        flex-direction: row;
        max-width: 95rem;

        .pricing-card + .pricing-card {
            margin-top: 0;
        }
    }

    > .pricing-card {
        width: 100%;

        .price--wrap {
            animation: none;

            &.active {
                animation: shrink 0.25s ease-in;
            }
        }

        &.-big {
            @include desktopSize {
                padding: 4rem 2.5rem;
            }
        }

        & + .pricing-card {
            margin-top: 1em;

            @include desktopSize {
                margin-top: 0;
            }
        }
    }
}
