.pricing-card {
    background: white;
    padding: 2.5rem;
    color: color(neutral-dark-grayish-blue);
    border-radius: 0.75rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.116);
    @include flexCenter(column);

    &.-gradientBG {
        background: $primary-gradient;
        color: color(neutral-very-light-grayish-blue);
    }

    > .pricePlan {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    // this wraps the dollarSign span element + the price
    > .price--wrap {
        display: flex;
        margin-bottom: 2rem;
        @include flexCenter;

        .price {
            font-size: 5.4rem;
            @include flexCenter;
        }
        .dollarSign {
            font-size: 3rem;
            margin-right: 0.5rem;
        }
    }

    // this is the ul element that holds all the features of each plan
    > .planInfo--wrap {
        width: 100%;
        text-align: center;

        .info {
            padding: 1em;
            border-bottom: solid color(neutral-light-grayish-blue) 1px;
            border-top: solid color(neutral-light-grayish-blue) 1px;

            & + .info {
                border-top: none;
            }
        }
    }

    // learn more link
    > .learnMore {
        text-align: center;
        width: 100%;
        padding: 0.75em;
        margin-top: 2.5rem;
        background: $primary-gradient-buttons;
        border: solid 1px color(neutral-very-light-grayish-blue);
        border-radius: 0.75rem;
        color: color(neutral-very-light-grayish-blue);
        font-size: 1.4rem;
        cursor: pointer;

        &:hover {
            border: solid 1px color(neutral-grayish-blue);
            background: white;
            color: color(neutral-grayish-blue);
        }

        &.-white {
            background: white;
            border: solid 1px hsl(237, 63%, 64%);
            color: color(neutral-grayish-blue);

            &:hover {
                background: none;
                color: white;
                border: solid white 1px;
            }
        }
    }
}
